* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body {
    background: #f4f4f4;
    height: 100vh;
    width: 100%;
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-thumb {
    background: #005b00 ;
}

.container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* text-align: left; */
    max-width: 50%;
    flex-direction: column;
    margin: auto;
    padding: 12px;
}

.container .heading h1 {
    font-weight: 600;
    font-size: 40px;
    padding: 20px;
}

.order-card {
    background: white;
    box-shadow: 0px .2px 8px rgba(49, 50, 56, 0.2);
    padding: 20px;
    min-height: 200px;
    max-height: auto;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    gap: 1rem;
}

.order-options {
    /* background: green; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 23%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 12px;
    min-height: 200px;
    max-height: auto;
    transition: .3s;
    cursor: pointer;
}

.order-options.active{
    border: 2px solid #005b00 ;
}

.order-card h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-card img {
    width: 25px;
    fill: #005b00 ;
}

.order-card p {
    font-size: 12px;
    opacity: .6;
}

.order-card span {
    font-size: 25px;
    font-weight: 600;
}


/* weight section */
.weight {
    padding: 20px;
}

.weight-heading {
    margin-top: 3rem;
    padding-bottom: 4px;
}

.weight-heading h2 {
    font-size: 24px;
}

.weight-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.weight-buttons .active{
    border: 2px solid #005b00 ;
}

.weight-buttons button {
    margin-top: 1rem;
    padding: 12px;
    border: .4px solid #000;
    outline: none;
    background: white;
    width: 150px;
    font-size: 17px;
    border-radius: 8px;
    cursor: pointer;
}

/* pickup-address */



.locationtoandfrom h1 {
    font-size: 20px;
    font-weight: 300;
}

.pickup-address {
    margin-top: 2rem;
    box-shadow: 0px .2px 8px rgba(49, 50, 56, 0.2);
}

.pickup-card {
    background: white;
    display: flex;
    gap: 13px;
    padding: 20px;
    flex-direction: column;
}
.pickup-card .circle{
    display: none;
}
.pickup-card input {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid rgba(49, 50, 56, 0.4);
    outline: none;
}

.flex-pickup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.flex-pickup .contact-person {
    width: 90%;
}

.flex-pickup .order-number {
    width: 200px;
}

.pickup-address input::placeholder {
    opacity: .3;
}

.address-field {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid rgba(49, 50, 56, 0.4);
    outline: none;
    resize: vertical;
    height: auto;
    overflow: hidden;
    -moz-resize: none;
}

.address-field::-webkit-resizer {
    display: none;
}

.deliver-add {
    margin-top: 1rem;
    width: 25%;
    font-weight: 600;
    padding: 2px;
    border-radius: 3px;
    outline: none;
    border: none;
    background: #005b00 ;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    justify-content: center;
}

.deliver-add span {
    font-size: 30px;
}

.deliverandcheckbox input {
    margin-top: 1.3rem;
}


/* parcely type */

.parcel-type-card {
    background: white;
    padding: 20px;
    margin-top: 2rem;
    box-shadow: 0px .2px 8px rgba(49, 50, 56, 0.2);
}

.parcel-type-card input {
    padding: 16px;
    border-radius: 4px;
    border: 1px solid rgba(49, 50, 56, 0.4);
    outline: none;
    width: 100%;
}

.parcel-type-card ul {
    padding-top: 10px;
    display: flex;
    gap: 12px;
    color: #005b00;
    overflow-y: scroll;
}

/* secure-parcel */
.secure-parcel-card {
    background: white;
    padding: 20px;
    margin-top: 2rem;
    box-shadow: 0px .2px 8px rgba(49, 50, 56, 0.2);
}

.secure-parcel-card h1 {
    font-size: 17px;
}

.secure-parcel-card .secure-flex {
    display: flex;
    align-items: center;
    gap: 16px;
}

.secure-parcel-card .secure-flex input {
    margin-top: 10px;
    padding: 14px;
    border-radius: 4px;
    border: 1px solid rgba(49, 50, 56, 0.4);
    outline: none;
}

.secure-flex span {
    opacity: .5;
}

.secure-parcel-card p {
    margin-top: 13px;
    max-width: 50%;
    font-weight: 100;
    opacity: .6;
}

.secure-parcel-card p span {
    opacity: 100%;
    font-weight: 600;
}

.checkbox-secure {
    margin-top: 1rem;
    padding: 16px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.checkbox-secure input {
    height: 40px;
    width: 25px;
}

/* payment options */
.payment-cards {
    margin-top: 1rem;
}

.balance {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #fff;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}
.balance.active{
    border: 1px solid #005b00 ;
}
.payment-cards h1 {
    font-size: 20px;
}

.payment-option {
    display: flex;
    gap: 30px;
    flex-direction: row;
}

.details-payment {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.coupon {
    color: #005b00 ;
    display: flex;
    gap: 10px;
    margin-top: 1rem;
}

.coupon input {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid rgba(49, 50, 56, 0.4);
    outline: none;
}

.coupon button {
    padding: 8px 40px;
    outline: none;
    border: none;
    background: #005b00 ;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.total-card-section {
    background: white;
    padding: 20px;
    margin-top: 2rem;
    box-shadow: 0px .2px 8px rgba(49, 50, 56, 0.2);
}

.other-btns {
    display: flex;
    gap: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.other-btns button {
    padding: 13px 40px;
    outline: none;
    font-size: 16px;
    border: none;
    background: #005b00 ;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
.other-btns .disabled{
    background: gray;
    cursor:not-allowed;
}
.other-btns img {
    background: rgb(214, 210, 210);
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
}

.termshere p {
    padding-bottom: 20px;
}

.termshere ul {
    padding: 16px;
}

.termshere ul li {
    list-style-type: decimal;
    padding-bottom: 20px;
}

.pricing{
    background: rgba(0, 0 , 0, 0.8);
    color: #fff;
    padding: 20px;
    width: 10%;
    text-align: center;
    margin-top: 40px;
    position: fixed;
    bottom: 0%;
    left: 15%;
    border-start-start-radius: 8px;
    border-start-end-radius: 8px;
}
.barnadcircle{
    position: absolute;
    left: calc(16vw - 0px);
    display: flex;
    align-items: center;
    gap: 10px;
}

.barnadcircle h1{
    font-size: 20px;
}
.lineandcircle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.circle{
    border: 1px solid #005b00 ;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.line{
    border:1.3px dotted #005b00 ;
    width: 1.3px;
    height: 390px
}
.barnadcircle.connected .circle .line {
    display: block;
  }

  .total-price{
    display: flex; 
    gap: 10px;
    align-items: center;
  }
  .total-price img{
    width: 30px;
    cursor: pointer;
  }
  .faqandtootip{
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    flex-direction: column;
    padding: 10px;
    font-size: 15px;
    position: absolute;
    transform: translate(100%,-70%);
    opacity: 0;
    transition: .3s all ease-in-out;
  }
 .total-price:hover .faqandtootip{
    opacity: 1;
  }
  .parcel-schedule{
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .parcel-schedule select{
    height: 50px;
    padding: 10px;
    background: transparent;
    border: 1px solid #005b00 ;
    outline: none;
    border-radius: 8px;
  }
/* media queries here */

@media(max-width:1400px) {
    .barnadcircle{
        display: none;
    }
    .container {
        max-width: 80%;
    }
    .pricing{
        width: 30%;
    }
    .pickup-card .circle{
        display: flex;
    }
}

@media(max-width:900px){
    .deliver-add {
        width: 30%;
    }
}
@media(max-width:850px) {
    .container {
        max-width: 100%;
    }

    .order-card {
        min-height: 130px;
    }

    .order-options {
        width: 80%;
        min-height: 120px;
    }

    .order-options span {
        font-size: 15px;
    }

    .order-options p {
        display: none;
    }

    .weight {
        padding: 0px;
    }

    .weight-buttons {
        gap: 8px;
    }

    .weight-buttons button {
        margin-top: 1rem;
        padding: 12px;
        border: .4px solid #000;
        outline: none;
        background: white;
        width: 120px;
        font-size: 12px;
        border-radius: 8px;
    }

    .flex-pickup input {
        width: 100%;
    }

    .flex-pickup {
        flex-direction: column;
        gap: 10px;
    }

    .flex-pickup .contact-person,
    .order-number {
        width: 100%;
    }

    .address-field {
        padding: 8px;
        font-size: 12px;
        height: 80px;
    }

    .deliver-add {
        width: 100%;
    }

    .secure-parcel-card .secure-flex input {
        width: 80%;
    }

    .secure-flex span {
        font-size: 12px;
    }

    .secure-parcel-card p {
        max-width: 100%;
        font-size: 12px;
    }

    .payment-option {
        display: flex;
        gap: 2px;
        flex-direction: column;
    }

    .checkbox-secure {
        padding: 0px;
    }

    .checkbox-secure input {
        height: 30px;
        width: 20px;
    }

    .coupon input {
        width: 60%;
    }

    .other-btns {
        justify-content: space-between;
    }

    .other-btns button {
        width: 80%;
        outline: none;
        font-size: 14px;
        border: none;
        background: #005b00 ;
        color: #fff;
        border-radius: 4px;
    }
    .total-price h1 {
        font-size: 23px;
    }
    .pricing{
        width: 40%;
        left: 2%;
    }
    .faqandtootip{
        transform: translate(30%,-60%);
    }
}
@media(max-width:420px){
    .faqandtootip{
        font-size: 15px;
        transform: translate(60%,-70%);
    }
    .parcel-schedule{
        flex-direction: column;
    }
    .parcel-schedule select{
        width: 100%;
        border-radius: 8px;
    }
    .parcel-schedule span{
        display: none;
    }
}
@media(max-width:340px){
    .faqandtootip{
        transform: translate(30%,-60%);
    }
}
@media(max-width:325px){
    .order-card{
        font-size: 10px;
    }
    .pricing{
        width: 60%;
    }
    .faqandtootip{
        transform: translate(30%,-70%);
    }
}